body {
    background-color:#b8f5ff;
}

.title {
    color:white;
    font-size:40px;
    background-color:lime;
}

body {
    font-family:Courier New;
}

h1 {
    font-family:courier;
}

.center {
    text-align:center;
}

.left {
    text-align:left;
}

.imagecenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#desc {
    color: white;
    background-color:navy;
    font-size:15px;
}

.menu {
    color:lime;
   
}
.left{
    text-align:left;
}
.right{
    text-align:right;
}

.black{
    color:black;
}

#morn{
    background-color:rgb(255, 234, 117)
}
#mid{
    background-color: lawngreen;
}
#sunset{
    background-image: url("https://codehs.com/uploads/e65283763d1dbec4d1ab437845fb63f8");
    
}
#sunset p{
    color:white
}